<div class="hidden-xs panel panel-default">
  <div class="panel-heading">
    <div>
      <strong>
        <h3 class="panel-title">Ticket
          <%= ticket.id %>: <%= ticket.title %></h3>
      </strong>
    </div>
  </div>
  <div class="panel-body">
    <div>
      <div class="body">
        <div>
          <p><%= ticket.body %></p>
        </div>
      </div>
      <strong>Reported by: <%= ticket.user.email %></strong><br>
      <% if assigned?(ticket) %>
        <strong>Assigned to:
          <%= ticket.assigned_user.email %></strong>
      <% end %>
    </div>
    <% if admin? && !assigned?(ticket) %>
      <%= form_tag("/assign", method: "post") do %>
      <%= hidden_field_tag(:ticket_id, "#{ticket.id}") %>
      <%= submit_tag("Assign Ticket to Me") %>
    <% end %>
  <% end %>
</div>
</div>
