<h1>Tickets</h1>
<a><%= link_to "Open a Support Ticket", new_ticket_path, style: 'float: right; color: black' %></a>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th width="5%">Ticket&nbsp;#</th>
      <th>Description</th>
      <th>Status</th>
      <th>Reported&nbsp;by</th>
      <th>Assigned&nbsp;to</th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td>
          <a><%= link_to "#{ticket.id}", ticket_path(ticket)%></a>
        </td>
        <td class="body">
          <p><%= "#{ticket.body}" %></p>
        </td>
        <td class="status">
          <div>
            <span><%= "#{ticket.status}" %></span>
          </div>
        </td>
        <td class="reported-by">
          <p><%= "#{ticket.user.email}" %></p>
        </td>
        <td class="assigned-to">
          <p><%= "" %></p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
