<%= render partial: "ticket", locals: {ticket:@ticket} %>
<br>
<% if @ticket.assigned_to.nil? %>
  <%= form_tag("/assign", method: "post") do %>
  <%= hidden_field_tag(:ticket_id, "#{@ticket.id}") %>
  <%= submit_tag("Assign to me") %>
   <% end %>
  <% else %>
  <div class="assigned_user">
    <strong>Assigned To:</strong>
    <p> <%= @ticket.assigned_user.email %> </p>
<% end %>

<% @ticket.comments.each do |comment| %>
<div class="comment">
  <strong><%= comment.user.email %></strong>
  <%= link_to "#{comment.content}", ticket_comment_path(@ticket, comment) %>
</div>
<% end %>

<h5>Comments:</h5>

<%= form_for [@ticket, @comment] do |f| %>

  <%= f.hidden_field :ticket_id, value: @ticket.id %>
  <%= f.text_area :content %><br>

  <%= f.submit %>
<% end %>
